* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efba01;
    display: flex;
    justify-content: center;
}

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.logo {
    width: 40%;
}

.buttons-container {
    display: flex;
    gap: 10px;
}

.previous-button, .next-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
    width: 100px;
    background-color: #205bab;
    color: white;
}

.pokemon-card {
    background-color: white;
    width: 220px;
    height: 220px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

li {
    list-style: none;
}

.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0;
}